<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>this is about page</title>
</head>
<body>
<section>
  <div>
    <div class="container">
      <div class="row">

        <div class="col-md-8 offset-md-2">

         <div class="my-card mt-1" >

        <div th:if="${message}" th:classappend="${message.type}" class="alert text-center" role="alert">
    <p th:text="${message.content}"></p>
</div>


<!--             <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">-->
<!--                 <p class="text-center" th:text="${session.message.content}"></p>-->
<!--                 <th:block th:text="${session.removeAttribute('message')}"></th:block>-->
<!--             </div>-->

          <div class="text-center">
            <img style="width:80px;" src="" th:src="@{/image/registericon.png}" alt="">
          </div>

           <h1 class="text-center">Register Here!!</h1>

           <form novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">
<!--             name field-->
             <div class="mb-3">

               <label for="name_field" class="form-label">Yout Name</label>

               <input type="text"
                      name="name"
                      class="form-control"
                      th:classappend="${#fields.hasErrors('name')?'is-invalid':''}"
                      id="name_field"
                      placeholder="Enter here"
                      required
                      th:value="${user.name}"
                      aria-describedby="emailHelp">
                    <div th:each="e : ${#fields.errors('name')}" th:text="${e}" class="invalid-feedback">


                    </div>

             </div>
<!--             email_field-->

             <div class="mb-3">

               <label for="email_field" class="form-label">Yout Email</label>

               <input type="email"
                      name="email"
                      class="form-control"
                      id="email_field"
                      placeholder="Enter here"
                      required
                      th:value="${user.email}"
                      aria-describedby="emailHelp">
             </div>

             <!--             password_field-->

             <div class="mb-3">

               <label for="paswword_field" class="form-label">Password</label>

               <input type="password"
                      name="password"
                      class="form-control"
                      id="password_field"
                      placeholder="Enter here"
                      required
                      aria-describedby="emailHelp">
             </div>

           <!--  user about field           -->

             <div class="mb-3">

               <textarea name="about" th:text="${user.about}" class="form-control" placeholder="Enter something yourself" rows="5"></textarea>


             </div>

             <div class="mb-3 form check text-center">
               <input type="checkbox"
               name="agreement"
               class="form-check-input"
               id="agreement">

               <label for="agreement">Accept terms and conditions</label>

             </div>



             <div class="container text-center">

               <button type="submit" class="btn bg-primary text-white">Submit</button>
               <button type="reset" class="btn btn-warning ">Reset</button>
             </div>


           </form>
         </div>

        </div>

      </div>
    </div>
  </div>

</section>

</body>
</html>